<div class="container-fluid">
    <app-page-title title="Change Password" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <form [formGroup]="form" (submit)="onSubmit()">
                        <div class="mb-3">
                            <label>Old Password</label>
                            <input formControlName="oldPassword" type="password" class="form-control"
                                [ngClass]="{'is-invalid': form.get('oldPassword').touched && form.get('oldPassword').invalid}"
                                placeholder="Enter old password">
                            <div class="invalid-feedback">This field is required</div>
                        </div>
                        <div class="mb-3">
                            <label>New Password</label>
                            <input formControlName="newPassword" type="password" class="form-control"
                                [ngClass]="{'is-invalid': form.get('newPassword').touched && form.get('newPassword').invalid}"
                                placeholder="Enter new password">
                            <div class="invalid-feedback">
                                <span *ngIf="form.get('newPassword').errors?.required">This field is required</span>
                                <span
                                    *ngIf="!form.get('newPassword').errors?.required && form.get('newPassword').errors?.minlength">Password
                                    must be at least {{form.get('newPassword').errors?.minlength.requiredLength}}
                                    characters</span>


                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Confirm Password</label>
                            <input formControlName="confirmPassword" type="password" class="form-control"
                                [ngClass]="{'is-invalid': form.get('confirmPassword').touched && form.get('confirmPassword').invalid || (form.get('newPassword').valid && form.get('confirmPassword').valid && form.value.newPassword !== form.value.confirmPassword)}"
                                placeholder="Confirm password">
                            <div class="invalid-feedback">
                                <span *ngIf="form.get('confirmPassword').errors?.required">This field is required</span>
                                <span
                                    *ngIf="!form.get('confirmPassword').errors?.required && form.get('confirmPassword').errors?.minlength">Password
                                    must be at least {{form.get('confirmPassword').errors?.minlength.requiredLength}}
                                    characters</span>
                                <span
                                    *ngIf="form.get('newPassword').valid && form.get('confirmPassword').valid && form.value.newPassword !== form.value.confirmPassword">Confirm
                                    password and new password must be same</span>
                            </div>
                        </div>
                        <button class="btn btn-primary mb-3" type="submit"
                            [disabled]="form.invalid || (form.valid && form.value.newPassword !== form.value.confirmPassword)">Change
                            Password</button>
                        <div *ngIf="reqError" class="alert alert-danger">
                            <strong>Error!</strong> {{reqError}}
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>