<div class="container-fluid">
    <app-page-title title="Menu" [breadcrumbItems]="breadCrumbItems"></app-page-title>


    <div>
        <button routerLink="create" type="button" class="btn btn-success mb-3">
            <i class="mdi mdi-plus me-1"></i> Add Menu Link
        </button>
    </div>
    <div class="card">
        <div class="card-body">
            <ul class="menu">
                <ng-container *ngTemplateOutlet="Recursion; context:{ list: menu}"></ng-container>
            </ul>
        </div>
    </div>
</div>
<ng-template #Recursion let-list="list">
    <ng-container *ngFor="let item of list">
        <li>
            <div class="form-check mb-3 ps-4 pt-1 link">
                <i *ngIf="item.children.length" class="mdi mdi-arrow-down-drop-circle-outline pointer me-3"
                    [ngClass]="{'mdi-arrow-right-drop-circle-outline': item.toggleMenu}"
                    (click)="item.toggleMenu = !item.toggleMenu"></i>

                <!-- <label class="form-check-label">
                    {{ item.name }}
                </label> -->
                <label class="form-check-label"
                    *ngIf="item.name || (item.categoryId?.name || item.brandId?.name || item.healthConcernId?.name || item.consultantTypeId?.name)">

                    {{ item.name || item.categoryId?.name || item.brandId?.name || item.healthConcernId?.name ||
                    item.consultantTypeId?.name }}

                </label>
                <a [routerLink]="['/ecommerce/menu/edit',item._id]" class="ms-2 px-2 text-primary" placement="top"
                    ngbTooltip="Edit"><i class="uil uil-pen font-size-18"></i></a>
                <a *ngIf="!item.children.length" href="javascript:void(0);" class="ms-1 px-2 text-danger"
                    placement="top" ngbTooltip="Delete" (click)="onDelete(item,list)"><i
                        class="uil uil-trash-alt font-size-18"></i></a>
                <span class="menuDetail">
                    <span class="ms-2">Type: {{ item.type }}, </span>
                    <!-- <span class="ms-2">URL: {{ item.url }}</span> -->
                    <span class="ms-2"
                        *ngIf="item.url || (item.categoryId?.url || item.brandId?.url || item.healthConcernId?.url || item.consultantTypeId?.url)">
                        URL: {{ item.url || item.categoryId?.url || item.brandId?.url || item.healthConcernId?.url ||
                        item.consultantTypeId?.url }}
                    </span>
                </span>
            </div>
            <ul *ngIf="item.children.length > 0" [ngClass]="{'d-none': item.toggleMenu}">
                <ng-container *ngTemplateOutlet="Recursion; context:{ list: item.children }"></ng-container>
            </ul>
        </li>
    </ng-container>

</ng-template>

<!-- <div class="row">
        <div class="col-12">
            <div>
                <button routerLink="create" type="button" class="btn btn-success mb-3">
                    <i class="mdi mdi-plus me-1"></i> Add Menu Link
                </button>
            </div>
            <div class="row mb-md-2">
                <div class="col-sm-12 col-md-6">
                    <div class="dataTables_length">
                        <label class="d-inline-flex align-items-center">Show<select name="pageSize"
                                [(ngModel)]="pageSize" (change)="changeValue(pageSize,'limit')"
                                class="custom-select custom-select-sm form-control form-control-sm form-select form-select-sm">
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                                <option [ngValue]="100">100</option>
                            </select>
                            entries</label>
                    </div>
                </div>
            </div>
            <div class="table-responsive mb-4">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <form>
                        <table class="table table-centered datatables dt-responsive nowrap table-card-list"
                            style="border-spacing: 0 12px; width: 100%">
                            <thead>
                                <tr class="bg-transparent">
                                    <th style="width: 24px">
                                        <div class="form-check text-center font-size-16">
                                            <input type="checkbox" class="form-check-input" id="ordercheck" />
                                            <label class="form-check-label" for="ordercheck"></label>
                                        </div>
                                    </th>
                                    <th scope="col" sortable="id" (sort)="onSort($event)">
                                        Name
                                    </th>
                                    <th scope="col" sortable="date" (sort)="onSort($event)">
                                        URL
                                    </th>
                                    <th scope="col" sortable="name" (sort)="onSort($event)">
                                        Parent
                                    </th>
                                    <th style="width: 170px">{{'Order.action'|translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of dataArray" class="odd">
                                    <td>
                                        <div class="form-check text-center">
                                            <input id="ordercheck{{ data.index }}" type="checkbox"
                                                class="form-check-input" />
                                            <label class="form-check-label"
                                                for="ordercheck{{ data.index }}">&nbsp;</label>
                                        </div>
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="data.name" [term]="service.searchTerm">
                                        </ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="data.url" [term]="service.searchTerm">
                                        </ngb-highlight>
                                    </td>
                                    <td>
                                        <ngb-highlight [result]="data.parentName" [term]="service.searchTerm">
                                        </ngb-highlight>
                                    </td>
                                    <td>
                                        <a [routerLink]="['/ecommerce/menu/edit',data._id]" class="px-3 text-primary"
                                            placement="top" ngbTooltip="Edit"><i
                                                class="uil uil-pen font-size-18"></i></a>
                                        <a href="javascript:void(0);" class="px-3 text-danger" placement="top"
                                            ngbTooltip="Delete" (click)="onDelete(data._id)"><i
                                                class="uil uil-trash-alt font-size-18"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="float-end">
                            <ngb-pagination [collectionSize]="count" [(page)]="page" [pageSize]="pageSize"
                                (pageChange)="changeValue($event,'page')">
                                <ng-template ngbPaginationPrevious>Previous</ng-template>
                                <ng-template ngbPaginationNext>Next</ng-template>
                            </ngb-pagination>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->