<div class="container-fluid">
    <app-page-title
      title="Earning List"
      [breadcrumbItems]="breadCrumbItems"
    ></app-page-title>
  
    <div>
      <div ngbAccordion  [closeOthers]="true">
        <div ngbAccordionItem="static-1" >
          <h2 ngbAccordionHeader><button ngbAccordionButton>
            <h6 class="mb-0">
              Earnings | {{count}}
            </h6>
            <i class="mdi mdi-chevron-down"></i>
          </button></h2>
          <div ngbAccordionCollapse><div ngbAccordionBody><ng-template>
            <div class="row">
              <div class="col-md-6"></div>
              <div class="col-md-6">
                <form
                  [formGroup]="recordsFG"
                  (submit)="getRecords()"
                  class="row row-cols-lg-auto gx-3 gy-2 align-items-center"
                >
                  <div class="col-12">
                    <input
                      class="form-control"
                      [ngClass]="{
                        'is-invalid':
                          recordsFG.get('startDate').touched &&
                          recordsFG.get('startDate').invalid
                      }"
                      type="date"
                      formControlName="startDate"
                      placeholder="Start Date"
                    />
                  </div>
                  <div class="col-12">
                    <input
                      class="form-control"
                      type="date"
                      formControlName="endDate"
                      
                      placeholder="End Date"
                    />
                  </div>
                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn btn-primary"
                      [disabled]="recordsFG.invalid"
                    >
                      View Records
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </ng-template></div></div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-12">
        <!-- <div>
          <button
            type="button"
            routerLink="add-payout"
            class="btn btn-success mb-3"
          >
            <i class="mdi mdi-plus me-1"></i> Add New
          </button>
        </div> -->
        <div class="row mb-md-2">
          <!-- Search -->
          <!-- <div class="col-sm-12 col-md-12">
              <div id="tickets-table_filter" class="dataTables_filter text-md-end">
                <label class="d-inline-flex align-items-center"
                  >Search:
                  <input
                    type="text"
                    name="searchTerm"
                    class="form-control form-control-sm ms-2"
                    aria-controls="tickets-table"
                    [(ngModel)]="tempsearchTerm"
                /></label>
              </div>
            </div> -->
          <!-- End search -->
        </div>
        <div class="table-responsive mb-4">
          <div
            id="DataTables_Table_0_wrapper"
            class="dataTables_wrapper dt-bootstrap4 no-footer"
          >
            <form>
              <table
                class="
                  table table-centered
                  datatables
                  dt-responsive
                  nowrap
                  table-card-list
                "
                style="border-spacing: 0 12px; width: 100%"
              >
                <thead>
                  <tr class="bg-transparent">
                    <th style="width: 24px">
                      <div class="form-check text-center font-size-16">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="ordercheck"
                        />
                        <label class="form-check-label" for="ordercheck"></label>
                      </div>
                    </th>
                    <th scope="col" sortable="id" (sort)="onSort($event)">
                      Consultant
                    </th>
                    <th scope="col" sortable="name" (sort)="onSort($event)">
                      Total Earning
                    </th>
                    <th scope="col" sortable="top" (sort)="onSort($event)">
                      Amount Paid
                    </th>
                    <th scope="col" sortable="featured" (sort)="onSort($event)">
                      Hb Commission
                    </th>
                    <!-- <th style="width: 170px">{{ "Order.action" | translate }}</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of dataArray; let i = index" class="odd">
                    <td>
                      <div class="form-check text-center">
                        <input
                          id="ordercheck{{ i + 1 }}"
                          type="checkbox"
                          class="form-check-input"
                        />
                        <label
                          class="form-check-label"
                          for="ordercheck{{ i + 1 }}"
                          >&nbsp;</label
                        >
                      </div>
                    </td>
                    <td>{{data.firstName + data.lastName||''}}</td>
                    <td>&#8377;{{data.totalEarning}}</td>
                    <td>&#8377;{{data.totalPaid}}</td>
                    <td>&#8377;{{data.hbCommission}}</td>
                    <!-- <td>
                      <a
                        [routerLink]="'edit/' + data._id"
                        class="px-3 text-primary"
                        placement="top"
                        ngbTooltip="Edit"
                        ><i class="uil uil-pen font-size-18"></i
                      ></a>
                    </td> -->
                  </tr>
                </tbody>
              </table>
  
              <div class="float-end">
                <ngb-pagination
                  [collectionSize]="count"
                  [(page)]="page"
                  [pageSize]="pageSize"
                  [boundaryLinks]="true"
                  (pageChange)="change()"
                >
                  <ng-template ngbPaginationPages let-page let-pages="pages">
                    <li class="ngb-custom-pages-item" *ngIf="pages.length > 0">
                      <div class="form-group d-flex flex-nowrap px-2">
                        <label
                          id="paginationInputLabel"
                          for="paginationInput"
                          class="col-form-label mr-2 ml-1"
                          >Page</label
                        >
                        <input
                          #i
                          type="text"
                          inputmode="numeric"
                          pattern="[0-9]*"
                          class="form-control custom-pages-input"
                          id="paginationInput"
                          [value]="page"
                          (keyup.enter)="selectPage(i.value)"
                          (blur)="selectPage(i.value)"
                          (input)="formatInput($any($event).target)"
                          aria-labelledby="paginationInputLabel paginationDescription"
                          style="width: 4rem"
                        />
                        <span
                          id="paginationDescription"
                          class="col-form-label text-nowrap px-2"
                        >
                          of {{ pages.length }}</span
                        >
                      </div>
                    </li>
                  </ng-template>
                </ngb-pagination>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  