.title {
    font-size: 12px;
    color: #1c1c1c;
    margin-bottom: 0;
    margin-right: 15px;
}
.statsUpDown {
    font-size: 16px;
    font-weight: 500;
}
.statsUp{
    color: #058f46;
}
.statsDown{
    color: #be1919;
}
.card-title {
    margin: 0px 0 0px 0;
    color: #989898;
    border-bottom: 1px solid #ececec;
    margin-bottom: 0.75rem!important;
    padding-bottom: 20px;
}
.zero {
    font-size: 9px;
    position: relative;
    top: -5px;
}