.chartValue {
    font-size: 24px;
}
.colorDot {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #bbb;
    display: inline-block;
}
:host {
    ::ng-deep {
        .apexcharts-datalabels {
            display: none;
        }
    }
}
apx-chart {
    pointer-events: none;
}
