.yes-button {
  background-color: rgba(5, 143, 70, 0.1);
  color: rgb(5, 143, 70);
}

.no-button {
  background-color: rgb(5, 143, 70);
  color: #fff;
}
.align-center{
    text-align: center;
}