.anls {
  background-color: #fff;
  border: 1px solid #e7e7e7;
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 20px;
  border-radius: 5px;
}

.anls-lb {
  margin-bottom: 0px;
  font-size: 12px;
  color: #1c9a57;
  font-weight: 600;
  margin-bottom: 3px;
}

.anls-name {
  margin-bottom: 0px;
  font-size: 15px;
  color: #000;
  font-weight: 600;
}

.anls-s2 {
  background-color: #fff;
  border: 1px solid #e7e7e7;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.anls-s3 {
  background-color: #fff;
  border: 1px solid #e7e7e7;
  padding: 10px;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.dt-box {
  margin-bottom: 1.5rem;
}

.anls-dt {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 2px;
}

.anls-p {
  font-size: 15px;
}
