.photoUpload {
  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 3px;
  }
}
.removeEdu {
  padding: 10px;
}
.mandatory{
  color: #ff4400;
}